In [1]:
import pandas as pd

In [4]:
a=[1,2,3,4,5,6]
df=pd.DataFrame(a)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [7]:
df.columns=['col1']
df

   col1
0     1
1     2
2     3
3     4
4     5
5     6

In [12]:
df.index=['a','b','c','d','e','f']

In [16]:
df['col2']=df['col1']*3
df

   col1  col2
a     1     3
b     2     6
c     3     9
d     4    12
e     5    15
f     6    18

In [18]:
df['col3']=df['col2']
df

   col1  col2  col3
a     1     3     3
b     2     6     6
c     3     9     9
d     4    12    12
e     5    15    15
f     6    18    18

In [20]:
df.drop('col3',inplace=True,axis=1)
df

   col1  col2
a     1     3
b     2     6
c     3     9
d     4    12
e     5    15
f     6    18