In [3]:
import pandas as pd
import numpy as np

In [12]:
data1=pd.Series([1,-7,4,-0],index=['a','b','e','f'])
data2=pd.Series([90,9,-8,-6],index=['a','b','c','d'])

In [13]:
data1

a    1
b   -7
e    4
f    0
dtype: int64

In [14]:
data2

a    90
b     9
c    -8
d    -6
dtype: int64

In [16]:
data1+data2

a    91.0
b     2.0
c     NaN
d     NaN
e     NaN
f     NaN
dtype: float64

In [19]:
data1.add(data2,fill_value=0)

a    91.0
b     2.0
c    -8.0
d    -6.0
e     4.0
f     0.0
dtype: float64

In [22]:
df1=pd.DataFrame(np.arange(12).reshape((4,3)),columns=list('abc'))
df2=pd.DataFrame(np.arange(15).reshape((5,3)),columns=list('bcd'))

In [23]:
df1

   a   b   c
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [24]:
df2

    b   c   d
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [25]:
df1+df2

    a     b     c   d
0 NaN   1.0   3.0 NaN
1 NaN   7.0   9.0 NaN
2 NaN  13.0  15.0 NaN
3 NaN  19.0  21.0 NaN
4 NaN   NaN   NaN NaN

In [26]:
df1.add(df2,fill_value=0)

     a     b     c     d
0  0.0   1.0   3.0   2.0
1  3.0   7.0   9.0   5.0
2  6.0  13.0  15.0   8.0
3  9.0  19.0  21.0  11.0
4  NaN  12.0  13.0  14.0

In [40]:
data=pd.DataFrame(np.arange(12).reshape((4,3)),columns=list('abc'))
ser=pd.Series([1,2,3],index=['a','b','c'])

In [42]:
ser

a    1
b    2
c    3
dtype: int64

In [38]:
data

   a   b   c
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [45]:
data.add(ser)

    a   b   c
0   1   3   5
1   4   6   8
2   7   9  11
3  10  12  14