In [2]:
import pandas as pd

In [11]:
df=pd.DataFrame({'id_student':[1,2,3,4,5,6,7,8,9,10],'MathScore':['strong','weak','strong','weak','strong','weak','strong','weak','strong','weak']},columns=['id_student','MathScore'])
df

   id_student MathScore
0           1    strong
1           2      weak
2           3    strong
3           4      weak
4           5    strong
5           6      weak
6           7    strong
7           8      weak
8           9    strong
9          10      weak

In [15]:
def Transfunc(x):
    if x=='strong':
        return 1
    else:
        return 0
    
    
df["NwColmn"]=df['MathScore'].apply(Transfunc)
df

   id_student MathScore  NwColmn
0           1    strong        1
1           2      weak        0
2           3    strong        1
3           4      weak        0
4           5    strong        1
5           6      weak        0
6           7    strong        1
7           8      weak        0
8           9    strong        1
9          10      weak        0

In [17]:
set(df['MathScore'])

{'strong', 'weak'}

In [18]:
df['MathScore'].unique()

array(['strong', 'weak'], dtype=object)