In [2]:
import pandas as pd
import numpy as np

In [15]:
data2=[[1,2,3,4],[np.nan,1,2,3],[2,np.NaN,np.NaN,4],[np.NaN,np.NaN,np.NaN,np.NaN]]
df2=pd.DataFrame(data2)
df2

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0
3  NaN  NaN  NaN  NaN

In [6]:
df2.fillna(2)

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  2.0  1.0  2.0  3.0
2  2.0  2.0  2.0  4.0
3  2.0  2.0  2.0  2.0

In [9]:
df2.columns=['a','b','c','d']
df2

     a    b    c    d
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0
3  NaN  NaN  NaN  NaN

In [14]:
df2.fillna({'a':2,'b':7,'c':9,'d':10},inplace=True)
df2

     a    b    c     d
0  1.0  2.0  3.0   4.0
1  2.0  1.0  2.0   3.0
2  2.0  7.0  9.0   4.0
3  2.0  7.0  9.0  10.0

In [20]:
data2=[[1,2,3,4],[np.nan,1,2,3],[2,np.NaN,np.NaN,4],[np.NaN,np.NaN,np.NaN,np.NaN]]
df2=pd.DataFrame(data2)
df2

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0
3  NaN  NaN  NaN  NaN

In [19]:
df2.fillna({0:2,1:7,2:9,3:10},inplace=True,axis=0)
df2

     0    1    2     3
0  1.0  2.0  3.0   4.0
1  2.0  1.0  2.0   3.0
2  2.0  7.0  9.0   4.0
3  2.0  7.0  9.0  10.0

In [23]:

df2

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0
3  NaN  NaN  NaN  NaN

In [24]:
df2.fillna(method='ffill')

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  1.0  1.0  2.0  3.0
2  2.0  1.0  2.0  4.0
3  2.0  1.0  2.0  4.0