In [1]:
import pandas as pd
import numpy as np

In [5]:
data1=[1.2,5,6.8,9,np.NaN,4.0,np.NaN]
df1=pd.DataFrame(data1)
df1

     0
0  1.2
1  5.0
2  6.8
3  9.0
4  NaN
5  4.0
6  NaN

In [7]:
df1.dropna()

     0
0  1.2
1  5.0
2  6.8
3  9.0
5  4.0

In [11]:
data2=[[1,2,3,4],[np.nan,1,2,3],[2,np.NaN,np.NaN,4],[np.NaN,np.NaN,np.NaN,np.NaN]]
df2=pd.DataFrame(data2)
df2

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0
3  NaN  NaN  NaN  NaN

In [13]:
df2.dropna()

     0    1    2    3
0  1.0  2.0  3.0  4.0

In [15]:
df2.dropna(how="any")

     0    1    2    3
0  1.0  2.0  3.0  4.0

In [17]:
df2.dropna(how="all")

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0

In [22]:
df2.dropna(axis=1,how="all")

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0
3  NaN  NaN  NaN  NaN

In [25]:
df2.columns=['a','b','c','d']
df2

     a    b    c    d
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0
3  NaN  NaN  NaN  NaN

In [30]:
df2.dropna(subset=['d'],how='any')

     a    b    c    d
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0

In [33]:
df2.dropna(thresh=1)

     a    b    c    d
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0
2  2.0  NaN  NaN  4.0

In [34]:
df2.dropna(thresh=3)

     a    b    c    d
0  1.0  2.0  3.0  4.0
1  NaN  1.0  2.0  3.0