In [1]:
import pandas as pd

In [6]:
drinks=pd.read_csv("http://bit.ly/drinksbycountry")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [7]:
drinks.drop('beer_servings',axis=1,inplace=True)
drinks.head()

,country,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0.0,Asia
1,Albania,132,54,4.9,Europe
2,Algeria,0,14,0.7,Africa
3,Andorra,138,312,12.4,Europe
4,Angola,57,45,5.9,Africa

In [9]:
drinks.drop([0,1,2],axis=0,inplace=True)

In [10]:
drinks.head()

,country,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,138,312,12.4,Europe
4,Angola,57,45,5.9,Africa
5,Antigua & Barbuda,128,45,4.9,North America
6,Argentina,25,221,8.3,South America
7,Armenia,179,11,3.8,Europe

In [13]:
drinks.mean(axis=1).head()

3    154.133333
4     35.966667
5     59.300000
6     84.766667
7     64.600000
dtype: float64

In [16]:
drinks.mean(axis="columns").head()

3    154.133333
4     35.966667
5     59.300000
6     84.766667
7     64.600000
dtype: float64

In [18]:
drinks.mean(axis="index").head()

spirit_servings                 81.578947
wine_servings                   49.873684
total_litres_of_pure_alcohol     4.762105
dtype: float64