In [2]:
import pandas as pd

####Reading from csv only 2 columns

In [5]:
movies=pd.read_csv("http://bit.ly/imdbratings")
movies.columns

Index([u'star_rating', u'title', u'content_rating', u'genre', u'duration',
       u'actors_list'],
      dtype='object')

In [6]:
movies=pd.read_csv("http://bit.ly/imdbratings",usecols=[0,1])
movies.columns

Index([u'star_rating', u'title'], dtype='object')

In [8]:
movies=pd.read_csv("http://bit.ly/imdbratings",usecols=["genre","duration"])
movies.head()

    genre  duration
0   Crime       142
1   Crime       175
2   Crime       200
3  Action       152
4   Crime       154

####Select only 3 rows while loading

In [10]:
movies=pd.read_csv("http://bit.ly/imdbratings",nrows=3)
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

####For loop iterate through the items

In [15]:
for index,row in movies.genre.iteritems():
    print index,row

0 Crime
1 Crime
2 Crime

####select only those with object datatype

In [17]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [22]:
movies.select_dtypes(include=['object']).columns
movies.drop(movies.select_dtypes(include=['object']).columns,inplace=True,axis=1)
movies

   star_rating  duration
0          9.3       142
1          9.2       175
2          9.1       200

In [31]:
drinks=pd.read_csv("http://bit.ly/drinksbycountry")
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [35]:
drinks.describe(include=['int64'])

       beer_servings  spirit_servings  wine_servings
count     193.000000       193.000000     193.000000
mean      106.160622        80.994819      49.450777
std       101.143103        88.284312      79.697598
min         0.000000         0.000000       0.000000
25%        20.000000         4.000000       1.000000
50%        76.000000        56.000000       8.000000
75%       188.000000       128.000000      59.000000
max       376.000000       438.000000     370.000000