In [2]:
import pandas as pd

In [10]:
data=pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
data=data*2
data

0     4
1     8
2    12
3    16
4    20
dtype: int64

In [15]:
data=data%2
data

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [17]:
data=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
data={'London':1111,'Bombay':22222,'Bangalore':33333}
pd.Series(data)

Bangalore    33333
Bombay       22222
London        1111
dtype: int64