In [1]:
import pandas as pd

In [4]:
ufo=pd.read_csv("http://bit.ly/uforeports")
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [6]:
ufo.columns

Index([u'City', u'Colors Reported', u'Shape Reported', u'State', u'Time'], dtype='object')

In [10]:
ufo.rename(columns={'Colors Reported':'colors_reported','Shape Reported':'shape_reported'},inplace=True)

In [12]:
ufo.columns

Index([u'City', u'colors_reported', u'shape_reported', u'State', u'Time'], dtype='object')

In [14]:
ufo_columns=['city','colorsreported','shapereported','state','time']
ufo.columns=ufo_columns
ufo.head()

                   city colorsreported shapereported state             time
0                Ithaca            NaN      TRIANGLE    NY   6/1/1930 22:00
1           Willingboro            NaN         OTHER    NJ  6/30/1930 20:00
2               Holyoke            NaN          OVAL    CO  2/15/1931 14:00
3               Abilene            NaN          DISK    KS   6/1/1931 13:00
4  New York Worlds Fair            NaN         LIGHT    NY  4/18/1933 19:00

In [22]:
ufo_columns=['city','colors reported','shape reported','state','time']
ufo=pd.read_csv("http://bit.ly/uforeports",names=ufo_columns,header=0)
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [23]:
ufo.columns=ufo.columns.str.replace(' ','_')
ufo.columns

Index([u'city', u'colors_reported', u'shape_reported', u'state', u'time'], dtype='object')