In [2]:
import pandas as pd
import numpy as np

In [9]:
data=pd.DataFrame(np.arange(5),index=['a','m','k','l','o'],columns=['col1'])
data

   col1
a     0
m     1
k     2
l     3
o     4

In [11]:
data.sort_index()

   col1
a     0
k     2
l     3
m     1
o     4

In [18]:
data2=pd.DataFrame(np.arange(12).reshape(4,3),index=['i','k','o','l'],columns=['z','l','i'])
data2

   z   l   i
i  0   1   2
k  3   4   5
o  6   7   8
l  9  10  11

In [20]:
data2.sort_index()

   z   l   i
i  0   1   2
k  3   4   5
l  9  10  11
o  6   7   8

In [22]:
data2.sort_index(axis=1)

    i   l  z
i   2   1  0
k   5   4  3
o   8   7  6
l  11  10  9

In [29]:
data2.sort_values(['o'],axis=1,ascending=True)

   z   l   i
i  0   1   2
k  3   4   5
o  6   7   8
l  9  10  11